* {
    box-sizing: border-box;    
}

body {
    margin: 0;
    font-family: Lato, Calibri;
}

button {
    background-color: #fff;
    color: #09f;
    border: 1px solid rgba(0, 153, 255, 0.5);
    box-shadow: 0 0 2px;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    font-size: 13pt;
    min-width: 32px;
}

button:hover {
    box-shadow: none;
    background-color: #09f;
    color: white;
}

button:active {
    background-color: #00f;    
}

button:focus {
    border: 1px solid rgba(0, 0, 255, 0.5);    
    box-shadow: 0 0 2px #00f;
    outline: none;
}

._404 {
    text-align: center;
    padding: 50px 50px;
    background: #f0f0f0;
    font-size: 23pt;
    color: #333;
}

.option {
    display: inline-block;
    width: 200px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px #333;
    color: #333;
}

.option.active {
    background: #09f;
    color: white;
}

main {
    text-align: center;
}

#tournament-home {
    display: flex;
    justify-content: space-around;
}

#members input, 
#members button,
#members div.member div {
    text-align: left;    
    padding: 3px 6px;
    margin: 5px;
    font-size:16px;
    width: 200px;
    display: inline-block;    
}

#members button {
    text-align: center;
    width: 150px;
}

#members div.member div {
    border-bottom: 1px solid #555;
}



g:focus {
    outline: none;
}

rect, text {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}